export CYGWIN_VERSION=x86
export CYGWIN="${CYGWIN} nodosfilewarning mintty"
export TERM=xterm-256color

alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

export BABUN_BRANCH=master

# Uncomment this to disable daily auto-update & proxy checks on startup (not recommended!)
export DISABLE_CHECK_ON_STARTUP="false"
export CHECK_TIMEOUT_IN_SECS=4

# otherwise vim will not find /etc/vimrc
export VIM=/etc

# overwrite values with user's local settings
test -f ~/.babunrc && source ~/.babunrc

# println babun welcome message
/usr/local/etc/babun/source/babun-core/tools/welcome.sh

if ! [[ "$DISABLE_CHECK_ON_STARTUP" == "true" ]]; then
	source /usr/local/etc/babun/source/babun-core/tools/check.sh
	guarded_babun_check
fi